body{
    background-color: #219C90;
}


#h1-div{
    border: 5px solid #001524;
    margin: 0px 50px;
    margin-top: 20px;
}
#projects-div{
    border: 5px solid #001524;
    border-radius: 20px;
    margin: 0px 50px;
    margin-top: 20px;
}
.project-section{
    border: 10px solid;
    width: 80%;
    height: 260px;
    margin: 5% 10%;
}
h1{
    color: #EE9322;
    text-transform: uppercase;
    text-align: center;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
.projects{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    border: 2px solid #E9B824;
    border-radius: 20px;
    padding: 5px;
    font-size: 2.3rem;
    background-color: #E9B824;
}
#small-projects{
    margin-left: 80px;
    margin-right: 70px;
}
#medium-projects{
    margin-right: 70px;
}
#footer{
    display: flex;
    flex-direction: row;
}
#footer > h4{
    padding: 5px;
    
}
#about-me{
    border-right: 2px solid white;
}
